header {
  margin: 0, auto;
  text-align: center;
  .title {
    margin: 0;
  }
  .menu {
    line-height: 100%;
    display: flex;
    justify-content: center;
    ul {
      display: flex;
      justify-content: center;
    li {
      margin-right: 5px;
    }
    }
  }
}
footer {
  margin: 0 auto;
  width: 100vw;
  h1 {
    text-align: center;
  }
  position: absolute;
  bottom: 0;
}
@media screen and (max-width:480px){
}

@media screen and (min-width:781px){

}

